.icon {
  width: 30px;
  height: 30px;
  margin: 0 30px 0 0;
  padding: 0;
  background-position: center;
  background-size: cover;
  position: relative;
  isolation: isolate;
}
.icon::before {
  content: "";
  position: absolute;
  inset: -10px;
  z-index: -1;
}
.icon:last-of-type {
  margin: 0;
}
.icon:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.3s linear;
}